# Encrypted rich wallet mnemonic:
E2E_WALLET_1_MAIN_PUB_KEY=
E2E_WALLET_2_SECOND_PUB_KEY=
E2E_WALLET_0_EMPTY_PUB_KEY=

# Public addresses
E2E_WALLET_1_MAIN=
E2E_WALLET_2_SECOND=
E2E_WALLET_0_EMPTY=
E2E_WALLET_PASSWORD_MM=

# Our random key for encryption
E2E_WALLET_SECRET_PK=
# Our random salt for encryption
E2E_WALLET_SALT_IV=